<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span>Encuestas</span>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active">
              <a href="/">Principal</a>
            </li>
            <li class="active">
              <a href="#">Encuestas</a>
            </li>
            <li>
              <a href="/contactos">Contactos</a>
            </li>
            <li>
              <a href="/login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1><%= encuesta.titulo %></h1>
            <p><%= encuesta.descripcion %></p>
          </div>
          <div class="">
            Grafico Votacion
            <div class="col-md-6">
              <img src="/images/2015-01-07-Iowa-GOP-poll.jpg" class="img-responsive" width="300px">
            </div>
          </div>
          <a href='/encuestas/detalle/<%= encuesta.id %>/meGusta'>
            <button class="btn btn-success" type="button" name="button">Me gusta</button>
          </a>
          <a href='/encuestas/detalle/<%= encuesta.id %>/nomegusta'>
            <button class="btn btn-success" type="button" name="button">No me gusta</button>
          </a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <% for(var i=0; i<comentarios.length; i++) {%>
          <div class="row">
            <h4><%= comentarios[i].fechaCreacion %></h4>
            <p><%= comentarios[i].texto %></p>
          </div>
        <% }%>
        <h1>Comenta</h1>
        <form action="/Comentario/agregarComentario" method="post">
          <input type="text" name="texto" value="">
          <input type="hidden" name="idEncuesta" value="<%= encuesta.id %>">
          <button type="submit" name="button"></button>
        </form>
      </div>
    </div>
  </body>
</html>
