<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span>Encuestas</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active">
          <a href="/">Principal</a>
        </li>
        <li class="active">
          <a href="/encuestas">Encuestas</a>
        </li>
        <li>
          <a href="/encuestas/misencuestas">Mis encuestas</a>
        </li>
        <li>
          <a href="/contactos">Contactos</a>
        </li>
        <li>
          <a href="/perfil">Perfil</a>:
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <a href="/encuestas/detalle/<%= encuesta.id %>">
      <div class="row encuesta box effect1">
        <div class="col-sm-8 col-md-8">
          <h3>
            <strong><%= encuesta.titulo %></strong>
          </h3>
          <%= encuesta.descripcion %>
        </div>
        <div class="col-sm-4 col-md-4">
          <canvas id="myChart<%= encuesta.id %>" width="500" height="400"></canvas>
          <script>
            var ctx = document.getElementById("myChart<%= encuesta.id %>");
            var myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: [
                  "Si", "No"
                ],
                datasets: [
                  {
                    label: '# Votos!!',
                    data: [
                      <%= encuesta.likes %>, <%= encuesta.dislikes %>
                    ],
                    backgroundColor: [
                      'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                      'rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                  }
                ]
              },
              options: {
                scales: {
                  yAxes: [
                    {
                      ticks: {
                        beginAtZero: true
                      }
                    }
                  ]
                }
              }
            });
          </script>
        </div>
        <div>
          <div class="footer-card">
            <a href='/encuestas/detalle/<%= encuesta.id %>/meGusta'>
              <button class="btn btn-success" type="button" name="button">Me gusta</button>
            </a>
            <a href='/encuestas/detalle/<%= encuesta.id %>/nomegusta'>
              <button class="btn btn-success" type="button" name="button">No me gusta</button>
            </a>
            <br>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row box">
      <div class="detailBox">
        <div class="titleBox">
          <label>Comentarios</label>
        </div>
        <div class="actionBox">
          <ul class="commentList">
            <% for(var i=0; i<comentarios.length; i++) {%>
              <li>
                <div class="commentText">
                  <p class="textoMaximoComentario"><%= comentarios[i].texto %></p>
                  <span class="date sub-text"><%= comentarios[i].fechaCreacion %></span>
                </div>
              </li>
            <% }%>
          </ul>
          <form action="/Comentario/agregarComentario" method="post" class="" role="form">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Comentarios" name="texto" value=""/>
              <input type="hidden" name="idEncuesta" value="<%= encuesta.id %>">
            </div>
            <button type="submit" class="btn btn-success">Comentar</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
